@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Range Slider Styling */

.custom-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #e2e8f0;
    /* Slate-200 */
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.dark .custom-slider {
    background: #1e293b;
    /* Slate-800 */
}

.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #4f46e5;
    /* Indigo-600 */
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgba(79, 70, 229, 0.4);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .custom-slider::-webkit-slider-thumb {
    border: 4px solid #0f172a;
    /* Slate-950 */
}

.custom-slider::-webkit-slider-thumb:hover {
    transform: scale(1.2) rotate(10deg);
    background: #4338ca;
    /* Indigo-700 */
}